.table-responsive{
  overflow-y : visible;
  overflow-x : visible;
.table {
    tbody {
      tr {
        td {
          white-space : normal;
          img{
            height: 80px;
          }
          button{
            margin-right: 5px;
            i{
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
.files img,
.files canvas {
    max-width : none;
  }
.table-responsive {
    border     : none;
    overflow-x : scroll;
  }
}
