/*
Template Name: Riana Responsive HTML5/CSS3 Charity Template
Author: iThemesLab
Author URI: http://themeforest.net/user/ithemeslab
Description: Riana Responsive HTML5/CSS3 Charity Template.
Version: 1.0
*/

/*Global Styles*/
a {
	color: #f7505a;
}

a:hover {
    /* color: #f7505a; */
}

.btn-primary,
.btn-primary:focus {
    background: #f7505a;
    border-color: #f7505a;
}

/*Typography*/
.lg-title span:after {
    background: #f7505a;
}

.lg-title.text-center span:after {
    background: #f7505a;
}

.sm-title span:after {
    background: #f7505a;
}

.sm-title.text-center span:after {
    background: #f7505a;
}

.widget-title span:after {
    background: #f7505a;
}

/*Top Header*/
.social-icon i.fa:hover {
    background: #f7505a;
    color: #fff;
}

.top-email a:hover {
    color: #f7505a;
}

/*Navbar*/
.navbar-nav > a:hover,
.navbar-nav > a.active {
    color: #f7505a;
    border-top: 2px solid #f7505a;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background: transparent;
    border-color: #f7505a;
}

.dropdown-menu {
    border-top: 2px solid #f7505a;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background: #f7505a;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: #f7505a;
    color: #fff;
}

.mega-dropdown-menu ul > li.active > a,
.mega-dropdown-menu ul > li > a:hover,
.mega-dropdown-menu ul > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #f7505a;
}

.mega-dropdown-menu .dropdown-header {
  color: #f7505a;
}

/*Slideshow*/
.slide-caption h2 span,
.banner-caption h2 span {
    color: #f7505a;
}

.btn-slideshow {
    color: #f7505a;
    background: #fff;
    border: 2px solid #fff;

}

/*Feature*/
.feature-wrap .icon-wrap i {
    color: #f7505a;
}

.feature-wrap:hover .icon-wrap i {
    color: #f7505a;
}

.feature-wrap:hover .icon-wrap {
    border: 1px solid #f7505a;
    background: transparent;
}

.feature-wrap:hover .icon-wrap i {
    color: #f7505a;
}

/*Service Style*/
.service-box .service-icon {
    color: #f7505a;
}

/*Current Cause*/


.current-cause .progress-bar {
    position: relative;
    background: #f7505a;
}

.current-cause .block {
    background: #f7505a;
}

.btn-donate {
    color: #fff ;
    background: #f7505a;
    border: 2px solid #f7505a;
}

/*Urgent Cause*/
.isotope-nav li.active {
    color: #f7505a;
    border: 1px solid #f7505a;
}

figure.effect-oscar .btn-causes:hover {
    background: #f7505a;
    color: #fff;
}

figure.effect-oscar:hover .btn-causes:hover {
    background: #f7505a;
    color: #fff;
}

figure.effect-roxy a:hover {
    color: #f7505a;
    text-decoration: none;
}

.btn-loadmore {
    background: #f7505a;
    color: #fff;
}

.causes-carousel h2 a:hover {
    color: #f7505a;
    text-decoration: none;
}

.causes-carousel .btn-causes {
    color: #fff;
    background: #f7505a;
}

/*Extensions*/
.volunteer {
    background: #f7505a;
}

.btn-join {
    background: #fff;
    color: #f7505a;
}

/*Event Timer*/
.event-icon {
    color: #f7505a;
}

.team-social a:hover {
    color: #f7505a;
    border: 1px solid #f7505a;
}

/*Clients*/
.client-slider .owl-nav [class*='owl-']:hover {
    background: #f7505a;
}

/*Footer*/
.footer-section a:hover {
    color: #f7505a;
    text-decoration: none;
}

.footer-social .social-icon i.fa:hover {
    background: #f7505a;
    color: #fff;
}

.tweet-date {
    color: #f7505a;
}

.foot-menu li a:hover {
    color: #f7505a;
    text-decoration: none;
}

/*Utility*/
.st-accordion ul li.st-open > a span:before {
    color: #f7505a;
}

.st-accordion ul li > a:hover {
    color: #f7505a;
    text-decoration: none;
}

/*Facts*/
.facts {
    background: #f7505a;
}

.fact-box2 {
    background: #f7505a;
}

.fact-box3 {
    background: #f7505a;
}

/*Navhelper*/
.breadcrumb li a:hover,
.nav-helper.bg-image .breadcrumb li a:hover {
    color: #f7505a;
}

/*Progressbar*/
.progress-bar {
    background-color: #f7505a;
}

/*Other Styles*/
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background: #f7505a;
    border-color: #f7505a;
}

/*Dropcaps*/
.dropcap1 {
    color: #f7505a;
}

.dropcap2 {
    color: #fff;
    background: #f7505a;
}

.dropcap3 {
    color: #fff;
    background: #f7505a;
}

/*Pricing Table*/
.price-box .price-title {
    color: #fff;
    background: #f7505a;
    border-bottom: 1px solid #ebebeb;
}

a.btn-price:hover {
    background: #f7505a;
    border: 2px solid transparent;
    color: #fff;
    text-decoration: none;
}

/*Lists*/
.fa-ul li i {
    color: #f7505a;
    margin-top: 4px;
}

/*Tooltips*/
.tooltipster-riana {
    border-radius: 0px;
    border: 2px solid #f7505a;
    background: #fff;
    color: #2c2c2c;
}

/*BlogPage*/
.content-area .entry-header h2 a:hover {
    color: #f7505a;
    text-decoration: none;
}

.content-area .entry-meta span i {
    color: #f7505a;
}

.content-area .entry-meta span a:hover {
    color: #f7505a;
    text-decoration: none;
}

/*Pagination*/
.pagination > li > a,
.pagination > li > span {
    color: #f7505a;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background: #f7505a;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background: #f7505a;
    border-color: #ddd;
}

.widget_categories ul li a:hover{
    color: #f7505a;
}


.tagcloud a:hover {
    color: #fff;
    background: #f7505a;
    text-decoration: none;

}

.itehmeslab-latest-post li a:hover {
    color: #f7505a;
}

.title-404 {
	color: #f7505a;
}

/*Back to top*/
a.back-to-top {
    color: #fff;
    background: #f7505a;
}
