@import 'base';
@import 'red';
@import 'own_carousel';
@import 'style';


//This is for the icons
@import './icons/font-awesome/css/font-awesome.min.css';
@import './icons/simple-line-icons/css/simple-line-icons.css';
@import './icons/weather-icons/css/weather-icons.min.css';
@import './icons/themify-icons/themify-icons.css';
@import './icons/flag-icon-css/flag-icon.min.css';
@import "./icons/material-design-iconic-font/css/materialdesignicons.min.css";


html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 400px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
